ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #282c34;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 0px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #645f5f;
  border-radius: 6px;
}

.active {
  background-color: #04aa6d;
}
